<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>user_id : <%= user_info.user_id %></p>
    <% if (user_info.nickname) { %>
      <p>nickname : <%= user_info.nickname %></p>
    <% } %>
    <p><a href="/">HOME</a></p>
  </body>
</html>
